<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sinhala Text Input and Converter">
  <meta name="robots" content="noindex, nofollow">
  <!-- open graph tags -->
  <meta property="og:title" content="Hela Input">
  <meta property="og:description" content="Sinhala Text Input and Converter">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://deshan-nawanjana.github.io/hela-input/">
  <meta property="og:image" content="https://deshan-nawanjana.github.io/hela-input/assets/images/splash.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- twitter card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Hela Input">
  <meta name="twitter:description" content="Sinhala Text Input and Converter">
  <meta name="twitter:image" content="https://deshan-nawanjana.github.io/hela-input/assets/images/splash.png">
  <!-- canonical -->
  <link rel="canonical" href="https://deshan.lk/projects/hela-input" />
  <!-- manifest -->
  <link rel="manifest" href="./assets/manifest.json">
  <!-- favicon -->
  <link rel="shortcut icon" href="./index.png" type="image/png">
  <!-- preload : fonts -->
  <link rel="stylesheet" href="./assets/fonts/Ubuntu/Ubuntu.css">
  <link rel="preload" href="./assets/fonts/Ubuntu/Ubuntu-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="./assets/fonts/Ubuntu/Ubuntu-Medium.ttf" as="font" type="font/ttf" crossorigin>
  <!-- style -->
  <link rel="stylesheet" href="./index.css">
  <!-- libraries -->
  <script src="./assets/libraries/vue.min.js"></script>
  <!-- script -->
  <script src="./index.js" type="module" defer></script>
  <!-- page title -->
  <title>Hela Input</title>
</head>
<body>
  <div id="app" :data-theme="theme" :data-mode="mode" :style="{ display: 'flex' }">
    <div class="header">
      <div class="header-primary">
        <div class="switch mode">
          <button class="switch-item" :data-active="mode === 'single'" @click="mode = 'single'">
            Single Mode
          </button>
          <button class="switch-item" :data-active="mode === 'double'" @click="mode = 'double'">
            Double Mode
          </button>
        </div>
        <div class="header-space"></div>
        <div class="switch theme">
          <button class="switch-item" :data-active="theme === 'light'" @click="theme = 'light'">
            Light
          </button>
          <button class="switch-item" :data-active="theme === 'dark'" @click="theme = 'dark'">
            Dark
          </button>
        </div>
      </div>
      <div class="switch direction">
        <button class="switch-item" :data-active="direction === 'SIN_UNI'" @click="direction = 'SIN_UNI'">
          SIN ⇒ UNI
        </button>
        <button class="switch-item" :data-active="direction === 'ASCII_UNI'" @click="direction = 'ASCII_UNI'">
          ASCII ⇒ UNI
        </button>
        <button class="switch-item" :data-active="direction === 'UNI_ASCII'" @click="direction = 'UNI_ASCII'">
          UNI ⇒ ASCII
        </button>
        <button class="switch-item" :data-active="direction === 'SIN_ASCII'" @click="direction = 'SIN_ASCII'">
          SIN ⇒ ASCII
        </button>
      </div>
    </div>
    <div class="suggestions" v-if="mode === 'single'">
      <button class="suggest-item" :data-active="index === suggest.index" v-for="(item, index) in suggest.list" @click="applySuggestion(index)">
        {{item}}
      </button>
      <div class="suggest-empty" v-if="suggest.list.length === 0">
        Suggestions will appear here
      </div>
    </div>
    <div class="content">
      <div class="editor">
        <textarea class="text input" spellcheck="false" autocapitalize="off" v-model="text.input" @input="input" @keydown="keyDown" placeholder="Type here..." ref="input"></textarea>
        <textarea class="text output" spellcheck="false" autocapitalize="off" v-model="text.output" readonly v-if="mode === 'double'" placeholder="Output will be here..."></textarea>
      </div>
    </div>
  </div>
</body>
</html>